<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset='utf-8'>
    <title>to do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  </head>
    <body>

    <header class="row text-center">
    	<h1 class="todolist__title">
    		<i class="fa fa-calendar todolist__title-icon"></i> to do list
    	</h1>
    </header>
    
    <section class="row todolist__container text-center">
 
    	<div class="row">
	    	<div class="medium-10 columns">
		    	<form action="/todo-list/add/" method="post">
		        <input type="text" name="newtodo" id="newtodo" class="todolist__input-text" autofocus placeholder="Things to do" />
		    </div>
		    
		    <div class="medium-2 columns">
		    	<input type="submit" value="add task" class="todolist__submitBtn" />
		    	</form>
		    </div>
		</div>
	    
	    <h3 class="todolist__tasks-title"><i class="fa fa-edit todolist__title-icon"></i> my tasks</h3>

	    <div class="row todolist__tasks-container">
	    	<% if (todolist.length > 0) { %>
 				<% todolist.forEach(function(todo, index) { %>
 				<div class="medium-12 todolist__tasks-list"> 
 					<%= todo %> 
 					<a href="/todo-list/delete/<%= index %>">
 						<i class="fa fa-check-circle todolist__taskt-icon"></i>
 					</a>
 				</div>
 				<% }); %>
 			<% } else { %>
 				<div class="medium-12 todolist__alert">
 					<p><strong>Well done!</strong> No tasks to do!</p>
 				</div>
 			<% } %>
 	    
	    </div>

    </section>

    <footer class="row text-right">
    	<p>
    		<small>© 2016</small>
    	</p>
    </footer>

    </body>
</html>
