
/* Global Styles */

body {
	background: #efefef;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	color: #555;
	padding: 40px;
}

h1, h2, h3, label {
	font-family: 'PT Sans', sans-serif;
	color: #555;
}

header{
	padding: 20px 20px;
}

.todolist__container{
	background: #fff;
	padding: 70px 30px 30px 30px;
	box-shadow: 0px 0px 3px #999;
}

footer {
	color: #999;
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 0.85em;
}

/* Form Styles */

.todolist__title {
	color: #12bc9e !important;
}

.todolist__title-icon {
	font-size: 0.8em !important;
}

.todolist__submitBtn {
    background: #12bc9e;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.todolist__submitBtn:hover {
	transition: all .3s;
	box-shadow: 0px 0px 3px #999; 
}

/* Tasks Styles */

.todolist__tasks-title {
	margin-top: 20px;
}

.todolist__tasks-container {
	padding: 10px 20px 20px 20px;
	font-size: 1.15em;
}

.todolist__tasks-container > :first-child {
	border-top: solid 1px #eee;
}

.todolist__tasks-list{
	border-bottom: solid 1px #eee;
	padding: 10px;
}

.todolist__tasks-list:hover {
	background: #efefef;
}

.todolist__taskt-icon {
	color:#4CAF50;
	opacity: 0.65;
	font-size:0.9em !important;
	margin-left: 5px;
}

.todolist__taskt-icon:hover {
	color:#4CAF50;
	opacity: 1;
}

.todolist__input-text {
    background: rgba(0,0,0, 0.02);
    padding: 0px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.todolist__alert {
	margin-top:10px; 
	border-top: none !important;
}